<div class="lists">
  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to(list.name, :action => "list", :id => list.slug) %></li>
    <% end %>
  </ul>
</div>


<div class="test">
  <h1>Vocabulate</h1>
  <p>
    Test yourself! Choose a word list to get started.
  </p>
</div>